.container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  -webkit-animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  -moz-animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  font-size: 30px !important;
  margin-bottom: 10px;
}

.container button {
  padding: 10px 20px;
  color: rgb(220, 220, 220);
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: rgb(20, 96, 20);
  border-radius: 6px;
  -webkit-animation: animate 0.4s cubic-bezier(0.2, 0.6, 0.2, 1);
  -moz-animation: animate 0.4s cubic-bezier(0.2, 0.6, 0.2, 1);
  animation: animate 0.4s cubic-bezier(0.2, 0.6, 0.2, 1);
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  animation-delay: 0.4s;
}
.container button:hover {
  background-color: rgb(6, 65, 6);
}

.container span {
  color: rgb(27, 145, 218);
}

/* Animation */
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
